<%path = "../../images/lines/"%>
<h2><img src="<%=path%><%=@line.filename%>" width = 30px> Hello from the <%=@line.line%> line!</h2>


<%if @line.ride_feedbacks.present?%>
  <h3>Average rating for this line: <%=%>  (based on <%=%> comments)</h3>
  <%@line.ride_feedbacks.each do |feedback|%>
    <p><%=feedback.content%>   Ride Rating: <%=feedback.rating%></p>
  <%end%>
  <%else%>
  <p>No comments yet.</p>
<%end%>

<p><a href = "/feedback/new">Write feedback</a></p>
