<!doctype html>
<html>
  <head>
    <title>Mystery Riders</title>
    <link rel="stylesheet" href="../../css/style.css">
  </head>

  <body>
    <%path_to_images = "../../images/lines/"%>
    <%l = SubwayLine.all%>
    <%division = (l.size - 2)/2%>
    <div class = "logos">
      <h1>
        <% i = 1 %>
        <% division.times do%>
          <img src="<%=path_to_images%><%=l[i].logo%>" width = 40px>
          <% i += 1 %>
          <%end%>
        </h1>
    </div>
    <div class = "clear"></div>
    <div class = "titlelines">
      <h1><img class = "first" src="<%=path_to_images%><%=l.first.logo%>" width = 40px><div class = "center"> Mystery Riders</div> <img class = "last" src="<%=path_to_images%><%=l.last.logo%>" width = 40px></h1>
    </div>
    <div class = "clear"></div>
    <div class = "logos">
      <h1>
        <% division.times do%>
        <img src="<%=path_to_images%><%=l[i].logo%>" width = 40px>
        <% i += 1%>
        <%end%>
      </h1>
    </div>
    <div class = "clear"></div>

    <% if flash.has?(:message) %>
      <p><%=flash[:message]%></p>
    <% end %>
    <br></br>
    <%= yield%>
    <br></br>

    <div id = "quicklinks">
      <p><a href = "/"> >>>Homepage </a> </p>
      <p><a href = "/subwaylines"> >>>All Lines </a> </p>
      <%if session[:id].present?%>
        <p><a href = "/logout"> >>>>Logout</a></p>
      <%end%>
    </div>
  </body>

</html>
