<!doctype html>
<html>
  <head>
    <title>Mystery Riders</title>
    <link rel="stylesheet" href="../../css/style.css">
  </head>

  <body>
    <%path_to_images = "../../images/lines/"%>
    <h1><img src="<%=path_to_images%><%=SubwayLine.all.first.filename%>" width = 50px> Mystery Riders <img src="<%=path_to_images%><%=SubwayLine.all.last.filename%>" width = 50px></h1>
    <br></br>
    <%= yield%>
    <br></br>

    <div id = "quicklinks">
      <p><a href = "/"> >>>Homepage </a> </p>
      <p><a href = "/logout"> >>>>Logout</a></p>
    </div>
  </body>

</html>
