<h2>This is an index of your feedback for all the lines, <%=@passenger.alias%>.</h2>

<%if !@passenger.ride_feedbacks.present?%>

  <p>You haven't written any feedback yet.</p>
<%else%>
  <%@feedbacks.each do |feedback|%>
    <p>On the <%=feedback.subway_line.line%> line: <%=feedback.content%>; rating: <%=feedback.rating%>.
      <form method = "GET" action = "/feedback/<%=feedback.id%>/edit">
        <input type = "submit" value = "Edit"> </form>
      <form method = "POST" action = "/feedback/<%=feedback.id%>/delete">
        <input id = "hidden" type = "hidden" name="_method" value = "DELETE">
        <input type = "submit" value = "Delete"></form>
    </p>
  <%end%>
<%end%>
